-i https://pypi.org/simple
absl-py==1.1.0
ale-py==0.7.2+computecanada
appnope==0.1.2
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
cachetools==5.2.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
chex==0.1.3
cloudpickle==2.0.0
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
dm-tree==0.1.7
-e ./libs/dopamine
entrypoints==0.4
executing==0.8.3
filelock==3.7.1
flatbuffers==1.12
flax==0.5.0
fonttools==4.30.0
gast==0.4.0
gin-config==0.5.0
google-auth==2.7.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.38.1+computecanada
gym==0.23.1
gym-notices==0.0.6
h5py==3.4.0+computecanada
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
ipykernel==6.13.1
ipython==7.34.0
jax==0.3.7+computecanada
jaxlib==0.1.76+cuda11.cudnn82.computecanada
jedi==0.18.1
jupyter-client==7.3.4
jupyter-core==4.10.0
keras==2.9.0
keras-preprocessing==1.1.2
kiwisolver==1.3.1+computecanada
libclang==14.0.1
llvmlite==0.38.1
markdown==3.3.7
matplotlib==3.5.1
matplotlib-inline==0.1.3
msgpack==1.0.4
nest-asyncio==1.5.5
numba==0.55.2
numpy==1.21.4+computecanada
oauthlib==3.2.0
opencv-python==4.5.1.48+computecanada
opt-einsum==3.3.0
optax==0.1.2
packaging==21.3
pandas==1.3.5+computecanada
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.0.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
git+https://git@github.com/andnp/PyExpUtils@b697bea332017ab25baa0f092bb39778ce1092aa#egg=pyexputils
pygame==2.1.2
pygments==2.11.2
pyparsing==3.0.7
git+https://git@github.com/andnp/PyRlEnvs@9904e5f52b8bba9b6e10f38d9e4031d8cef60a0d#egg=pyrlenvs
python-dateutil==2.8.2
pytz==2022.1
pyzmq==23.1.0
requests==2.27.1
requests-oauthlib==1.3.1
git+https://git@github.com/andnp/RlGlue@fa690743839212e1e5cc68f20fe4bc0c24c9dcb2#egg=rlglue
rsa==4.8
scipy==1.7.3+computecanada
setuptools==62.3.3
six==1.16.0
stack-data==0.2.0
tdqm==0.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.7.0+computecanada
tensorflow-estimator==2.7.0+computecanada
tensorflow-io-gcs-filesystem==0.22.0+computecanada
tensorflow-probability==0.17.0
termcolor==1.1.0
tf-slim==1.1.0
toolz==0.11.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing-extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
werkzeug==2.1.2
wheel==0.37.1
wrapt==1.14.1
zipp==3.7.0
