appnope
asttokens
backcall
cloudpickle
cycler
decorator
executing
fonttools
gym
gym-notices
importlib-metadata
ipython==7.34.0
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
pyparsing
python-dateutil
six
stack-data
tdqm
tqdm
traitlets
wcwidth
zipp
Pillow
Pygments
-e ./libs/dopamine
git+https://git@github.com/andnp/PyExpUtils@b697bea332017ab25baa0f092bb39778ce1092aa#egg=pyexputils
git+https://git@github.com/andnp/RlGlue@fa690743839212e1e5cc68f20fe4bc0c24c9dcb2#egg=rlglue
git+https://git@github.com/andnp/PyRlEnvs@9904e5f52b8bba9b6e10f38d9e4031d8cef60a0d#egg=pyrlenvs
jax==0.2.25+computecanada
ipykernel